@import "@fontsource/noto-sans";

        * {
          font-family: "Noto Sans JP";
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-size: 4.5vmin;
          /* color: #2e2930; */
          color: #595857;
          font-feature-settings: "palt";
          letter-spacing: 0.08vmin;
        }
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header {
  height: 10vh;
  height: 10dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  height: 90dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main > div {
  width: 40%;
  display: flex;
  justify-content:space-between;
}

.footer textarea{
  resize: none;
  /* font-size: calc(10px + 2vmin); */
}